h1{
    font-family: 'Playfair Display', serif;
    color: white;
}

body, html {
    height: 100%;
}

.background { 
    background-image: url("../images/trains.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-bottom: 30px;
}

.card-header {
    background-color: red;
    font-family: 'Playfair Display', serif;
    color: white;
    font-weight: bold;
}

#jumbo {
    opacity: 0.9;
    text-align: center;
    background-color: red;
    border-radius: 15px;
}

table {
    font-family: 'Playfair Display', serif;
    border-collapse: collapse;
    width: 100%;
    color:black
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#schedule {
    opacity: 0.9;
}

#add-train {
    margin-top: 30px;
    opacity: 0.9;
    font-family: 'Playfair Display', serif;

}

#submit{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: black;
    background-color: red;
    border-color: black
}